<div class="container">
    <div class="row">
        <div class="col-md5">
            <div class="card">
                <div class="text-center">
                    <h1>Admin Login</h1>
                    <h5>Please enter your name and password !!</h5>
                </div>
                   <div>
                        <div class="mb-3">
                          <label for="Username" class="form-label">Username</label>
                          <input [(ngModel)]="try.username" type="text" class="form-control" id="Username" aria-describedby="Username">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input [(ngModel)]="try.password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button (click)="login()" type="submit" class="btn btn-light ">Login</button>
                        <button routerLink="/home" type="button" class="btn btn-light mx-3">Back</button>
                    </div>
              <!--<a routerLink="/admin-signup">Click here to SignUp</a> -->  
               
            </div>
        </div>
    </div>
</div>