<div class="container">
    <div class="row">
        <div class="md-5">
            <div class="card">
                <div class="text-center">
                    <h1>Hi! Welcome to the EMS </h1>
                    <button routerLink="/login" type="button" class="btn btn-dark btn-sm">User Login</button>
                    <button routerLink="/admin-login" type="button" class="btn btn-dark btn-sm mx-3">Admin Login</button>
                </div>
            </div>
        </div>
    </div>
</div>